.storybook-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(97, 111, 57, 0.2);
  padding: 15px 20px;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgb(0 0 0);
  color: rgb(167 209 41);
}

.storybook-header svg {
  display: inline-block;
  vertical-align: top;
}

.storybook-header h1 {
  display: inline-block;
  vertical-align: top;
  margin: 6px 0 6px 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: rgb(167 209 41);
}

.storybook-header button + button {
  margin-left: 10px;
}

.storybook-header .welcome {
  margin-right: 10px;
  color: rgb(97 111 57);
  font-size: 14px;
  font-weight: 500;
}

/* Olive-lime color palette adaptation */
.storybook-header .welcome b {
  color: rgb(167 209 41);
}
